<section class="about-section">
  <h3>About Romina</h3>

  <div class="face-lockup">
    <div class="face-img"></div>

    <div class="icon-globe">{% include icons/icon-globe.html %}</div>
    <div class="icon-camera">{% include icons/icon-camera.html %}</div>
    <div class="icon-laptop">{%include icons/icon-laptop.html %}</div>
    <div class="icon-sushi">{% include icons/icon-sushi.html %}</div>
  </div>

  <div class="blurb">
    <p>Hi! I am Romina, a Computer Engineer graduated from Iowa State University.
      My focus is software development of all kinds, mobile (Android), application and web.
      Currently, I am looking for the right company to dedicate my free-spirited mind and skills in.</p>
    <p>When I am not coding for the better good, I'm most likely searching for the
      best photo to take, best scene to draw, best story to read or best film to watch.</p>
  </div>

    <div class="skill-lockup clearfix">
      <div class="skill-unit">
        <div class="skill-label">Java</div>
        <div class="skill-icons skill-8">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      <div class="skill-unit">
        <div class="skill-label">C</div>
        <div class="skill-icons skill-7">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>

      <div class="skill-unit">
        <div class="skill-label">JavaScript</div>
        <div class="skill-icons skill-7">
          <span></span><span></span><span></span><span></span><span></span>
          <span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">HTML + CSS (SASS)</div>
      <div class="skill-icons skill-7">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Python</div>
      <div class="skill-icons skill-5">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label ">Android</div>
      <div class="skill-icons skill-5">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">PHP</div>
      <div class="skill-icons skill-3">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">C#</div>
      <div class="skill-icons skill-2">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Ruby</div>
      <div class="skill-icons skill-2">
        <span></span><span></span><span></span><span></span><span></span>
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
  </div>

</section>
