<section class="project-section alt-section">

  <h3 id="projects">Projects</h3>

  <div class="project-belt">

    <div class="thumb-wrap">
      <div class="thumb-container">
        {% for project in site.data.settings.projects %}
        <div class="thumb-unit" data-folder="{{project.folder}}" style="background-image: url(../assets/img/project/{{project.folder}}/thumb.jpg);">
          <div class="thumb-overlay">
            <strong>{{ project.name }}</strong>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="project-wrap">
      <div class="project-container">
        <div class="project-return"> {% include icons/icon-arrow.html %}</div>
        <h4 class="project-title">Project title</h4>
        <div class="project-load"></div>
      </div>
    </div>

  </div>

</section>
