/**
 * Site header
 */
.site-header {
    //font for titles and for header purposes -- ~aesthetic~
    font-family: $base-header-font-family;

    min-height: 450px;
    background: url(../assets/img/346H.jpg) center center;
    background-size: cover;

    nav {
      float: right;
      margin: 30px 30px 0 0;
      a {
        display: inline-block;
        margin-left: 20px;

        color: white;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;

        &:hover{
          text-decoration: none;
          color: $link-color;
          -webkit-transition: all 0.3s ease-out;
        	-moz-transition: all 0.3s ease-out;
        	-o-transition: all 0.3s ease-out;
        	transition: all 0.3s ease-out;
        }
      }
    }

    h1 {
      text-align: center;
      font-size: 72px;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-bottom: 20px;
      clear: both;
      padding-top: 100px;

      a {
        color: white;

        &:hover{
          color: $link-color;
          -webkit-transition: all 0.3s ease-out;
        	-moz-transition: all 0.3s ease-out;
        	-o-transition: all 0.3s ease-out;
        	transition: all 0.3s ease-out;
        }
      }

      span {
        display: inline-block;
        padding: 0.2em 0.5em;
        border: white solid 10px;
      }
    }

    .kicker{
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      color: white;
    }

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
  * Site About Section
  */
.about-section {
  @extend %clearfix;
  .face-lockup {
    max-width: 780px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

    .face-img {
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/img/face.jpg);
      width: 200px;
      height: 200px;
      order: 3;
    }

    [class^="icon-"]{
      height: 100px;
      width: 100px;
      text-align: center;
      background: #e5eaee;
      border-radius: 50%;

      &.icon-globe{
        order: 1;
      }
      &.icon-camera{
        order: 2;
      }
      &.icon-laptop{
        order: 4;
      }
      &.icon-sushi{
        order: 5;
      }
    }
  }

  @media screen and (max-width: 650px){
    .face-lockup{
      display: block;
      text-align: center;

      div{
        display: inline-block;
      }

      .face-img{
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        width: auto;
        margin-bottom: 0 auto 30px;
      }

      [class^="icon-"]{
        margin: 10px 9%;
      }
    }
  }

  .blurb{
    max-width: 620px;
    padding: 0 20px;
    margin: 50px auto;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
  }

  /**
    * Skills Section
    */
  .skill-lockup{
    max-width: 540px;
    margin: 100px auto;
    color: #999;

    .skill-unit{
      width: 270px;
      float: left;
    }
    .skill-icons{
      font-size: 0;
      margin-bottom: 3px 0 30px;

      span{
        display: inline-block;
        height: 14px;
        width: 14px;
        background-color: #30c4cc;
        margin-right: 8px;
        border-radius: 50%;

        &:after{
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background: #fff;
          border-radius: 50%;
          margin: 2px;
        }
      }

      // v v NEAT solution with Sass
      @for $i from 1 through 10{
        &.skill-#{$i} span:nth-child(n+#{$i+1}){
          @extend %skill-color;
        }
      }
    }
  }
  @media screen and (max-width: 541px){
    .skill-lockup{
      width: 220px;

      .skill-unit{
        width: 220px;
      }
    }
  }

  // placeholder color reversed
  %skill-color{
    @extend %clearfix;
    background: #999;
  }
}


/**
  * Site project section
  */
.project-section{
  @extend %clearfix;
  .thumb-container{
    max-width: 960px;
    margin: 0px auto;
    padding-bottom: 100px;

    .thumb-unit{
      display: block;
      width: 25%;
      float: left;
      position: relative;
      padding-top: 16%;
      overflow: hidden;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      perspective: all, 300ms;

      @media screen and (max-width: 760px){
        width: 50%;
        padding-top: 26%;
      }


      .thumb-overlay{
        position: absolute;
        box-align: center;
        align-items: center;
        box-pack: center;
        text-align: center;
        justify-content: space-around;
        top: -50%; right: 0px; bottom: null; left: 0px;
        height: 100%;
        background: fade-out($main-accent-color, 0.1);
        transition: all, 300ms;
        display: flex;
        transform: rotateX(90deg);
        // transform-origin;
        opacity: 0;

        strong{
          padding: 0px 20px;
          display: block;
          color: white;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 20px;
          line-height: 1.2;
        }

      }

      &:hover .thumb-overlay{
        position: absolute;
        top: 0%; right: 0px; bottom: null; left: 0px;
        transform: rotateX(0deg);
        opacity: 1;
      }
    }
  }

}

// alternative block colors
.alt-section{
  background: #e5eaee;
}



/**
 * Site footer
 */
.site-footer {
    @extend %clearfix;
    //font for titles and for header purposes -- ~aesthetic~
    font-family: $base-header-font-family;
    background-image: url(../assets/img/346H.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-blend-mode: normal;

    .lockup{
      padding: 50px 30px;

      .content-wrap{
        float: left;

        .copyright{
          margin: 0;
          text-transform: uppercase;
          font-size: 12px;
          color: rgba(255,255,255,255);
        }
        a {
          color: rgba(255,255,255,255);
          display: inline-block;
          margin-right: 30px;

          &:hover{
            text-decoration: none;
            color: $link-color;
            -webkit-transition: all 0.3s ease-out;
          	-moz-transition: all 0.3s ease-out;
          	-o-transition: all 0.3s ease-out;
          	transition: all 0.3s ease-out;
          }
        }
      }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
