/**
 * Site header
 */
.site-header {
    //font for titles and for header purposes -- ~aesthetic~
    font-family: $base-header-font-family;
    background: url(../assets/img/logo.png), url(../assets/img/tech-3.jpeg);
    background-repeat: no-repeat, no-repeat;
    background-size: 40px 40px, cover;
    background-position: 30px 20px, 50% 50%;
    background-blend-mode: normal, normal;
    padding-bottom: 50px;

    nav {
      float: left;
      padding: 30px 30px 0 0;
      transform: translate(75px, 0px);
      a {
        display: inline-block;
        margin-left: 20px;

        color: white;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;

        &:hover{
          text-decoration: none;
          color: $link-color;
          -webkit-transition: all 0.3s ease-out;
        	-moz-transition: all 0.3s ease-out;
        	-o-transition: all 0.3s ease-out;
        	transition: all 0.3s ease-out;
        }
      }
    }

    h1 {
      text-align: center;
      font-size: 72px;
      font-weight: 700;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin-bottom: 20px;
      clear: both;
      padding-top: 100px;

      a {
        color: white;

        &:hover{
          color: $link-color;
          -webkit-transition: all 0.3s ease-out;
        	-moz-transition: all 0.3s ease-out;
        	-o-transition: all 0.3s ease-out;
        	transition: all 0.3s ease-out;
        }
      }

      span {
        display: inline-block;
        padding: 0.2em 0.5em;
        border: white solid 10px;
      }
    }

    .kicker{
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      color: white;
    }

    @media (max-width: 640px) {

      background-position: 50% 20px, 50% 50%;
      nav {
        float: none;
        text-align: center;
        // Return to its original position so nav is at the center
        transform: translate(0px, 0px);
        padding-top: 75px;
        padding-bottom: 25px;
      }

      h1 {
        padding-top: 0px;
      }
  }


    // Positioning context for the mobile navigation icon
    // position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
  * Site About Section
  */
.about-section {
  @extend %clearfix;
  padding-bottom: 100px;
  .face-lockup {
    max-width: 780px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

    .face-img {
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-image: url(../assets/img/face.jpg);
      width: 200px;
      height: 200px;
      order: 3;
    }

    [class^="icon-"]{
      width: 50vmin;
      height: 50vmin;
      max-height: 100px;
      max-width: 100px;
      justify-content: center;
      text-align: center;
      background: #e5eaee;
      border-radius: 50%;

      &.icon-globe{
        order: 1;
      }
      &.icon-camera{
        order: 2;
      }
      &.icon-laptop{
        order: 4;
      }
      &.icon-sushi{
        order: 5;
      }
    }
  }

  @media screen and (max-width: 650px){
    .face-lockup{
      display: block;
      text-align: center;

      div{
        display: inline-block;
      }

      .face-img{
        display: block;
        background-position: center center;
        background-repeat: no-repeat;
        width: auto;
        margin-bottom: 0 auto 30px;
      }

      [class^="icon-"]{
        margin: 10px 9%;
      }
    }
  }

  .blurb{
    max-width: 620px;
    padding: 0 20px;
    margin: 50px auto;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
  }

  /**
    * Skills Section
    */
  .skill-lockup{
    max-width: 540px;
    margin: 0px auto 100px;
    padding-bottom: 50px;
    color: #999;

    .skill-unit{
      width: 270px;
      float: left;
    }
    .skill-label {
      margin-bottom: 4px;
    }
    .skill-icons{
      font-size: 0;
      margin-bottom: 3px 0 30px;

      span{
        display: inline-block;
        height: 14px;
        width: 14px;
        background-color: #30c4cc;
        margin-right: 8px;
        border-radius: 50%;

        &:after{
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background: #fff;
          border-radius: 50%;
          margin: 2px;
        }
      }

      // v v NEAT solution with Sass
      @for $i from 1 through 10{
        &.skill-#{$i} span:nth-child(n+#{$i+1}){
          @extend %skill-color;
        }
      }
    }
  }
  @media screen and (max-width: 541px){
    .skill-lockup{
      width: 220px;

      .skill-unit{
        width: 220px;
      }
    }
  }

  // placeholder color reversed
  %skill-color{
    @extend %clearfix;
    background: #999;
  }
}


/**
  * Site project section
  */
.project-section{
  overflow-x: hidden;
  @extend %clearfix;
  padding-bottom:100px;

  .project-belt{
    width: 200%;
    position: relative;
    left: 0%;
    transition: all, 550ms;
  }

  .thumb-wrap, .project-wrap {
    width: 50%;
    float: left;
  }

  .thumb-container{
    max-width: 1200px;
    margin: 0px auto;

    .thumb-unit{
      display: block;
      width: 25%;
      float: left;
      position: relative;
      padding-top: 16%;
      // overflow: hidden;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      perspective: all, 300ms;

      @media screen and (max-width: 760px){
        width: 50%;
        padding-top: 26%;
      }


      .thumb-overlay{
        position: absolute;
        box-align: center;
        align-items: center;
        box-pack: center;
        text-align: center;
        justify-content: space-around;
        // top: -50%; right: 0px; bottom: null; left: 0px;
        top: 0%; right: 0px; bottom: null; left: 0px;
        height: 100%;
        background: fade-out($main-accent-color, 0.1);
        // transition: all, 300ms;
        display: flex;
        -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        // transform: rotateX(90deg);
        // // transform-origin;
        opacity: 0;
        transition: opacity, 300ms, ease-in, 300ms;

        strong{
          padding: 0px 20px;
          display: block;
          color: white;
          font-weight: 300;
          text-transform: uppercase;
          font-size: 24px;
          line-height: 1.2;
          // text-shadow: 1px 1px 3px black;
        }

      }

      &:hover {
      z-index: 2;
      .thumb-overlay {
        @extend %animation;
        // position: absolute;
        // top: 0%; right: 0px; bottom: null; left: 0px;
        // transform: rotateX(0deg);
        opacity: 1;
        }
      }
    }
  }

  .project-container{
    max-width: 600px;
    margin: 0px auto;
    position: relative;
    display: none;

    h4 {
      color: $main-accent-color;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 1.2;
      margin: 0px 0px 20px;
    }

    img {
      max-width: 100%;
      margin-bottom: 20px;
    }

    .project-return {
      width: 40px;
      height: 40px;
      cursor: pointer;
      opacity: 0.5;
      position: absolute;
      margin-top: -5px;
      margin-left: -60px;

      path {
        fill: rbga(0,0,0,0,4);
      }

      &:hover {
        opacity: 1;
      }
    }
  }
    @media (max-width: 740px) {
      .project-container {
        .project-return {
          margin-left: 0px;
        }
        h4 {
          margin-left: 60px;
        }
      }
    }
}

// alternative block colors
.alt-section{
  background: #e5eaee;
}


/**
  * Site contact section
  */

  .contact-section {
    text-align: center;
  }

  .social-links {
    max-width: 700px;
    margin: 0px auto 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
    a {
       display: block;
       border: 2px solid $main-accent-color;
       height: 50px;
       width: 50px;
       line-height: 50px;
       color: $main-accent-color;
       border-radius: 50%;
       font-size: 28px;
       margin: 20px;
       position: relative;
       text-decoration: none;

       &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        border: 2px solid $main-accent-color;
        border-radius: 50%;
        margin: -2px;
        opacity: 1;
        // transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
       }

       &:hover {
         transform: scale(1.2);
         -webkit-transition: all 0.3s ease-out;
         -moz-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
         opacity: 60%;
       }

       &:hover:after {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0; 
      }
    }
  }

  .bar {
    width: 300px;
    height: 0px;
    border: none;
    border-top: 4px solid $main-accent-color;
    margin: 0px auto 50px;
  }

  .biglink {
    display: inline-block;
    color: $main-accent-color;
    font-size: 68px;
    font-weight: 300;
    line-height: 1;
    padding-bottom: 50px;
    margin: 0 auto;

    &:hover{
      text-decoration: none;
      color: $main-accent-color;
      opacity: 60%;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
  }



/**
 * Site footer
 */
.site-footer {
    @extend %clearfix;
    //font for titles and for header purposes -- ~aesthetic~
    font-family: $base-header-font-family;
    background-image: url(../assets/img/tech-3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-blend-mode: normal;
    padding-bottom: 40px;

    .lockup{
      padding: 50px 30px;

      .content-wrap{
        float: left;

        .copyright{
          margin: 0;
          text-transform: uppercase;
          font-size: 13px;
          color: rgba(255,255,255,255);
        }
        a {
          color: rgba(255,255,255,255);
          display: inline-block;
          margin-right: 30px;
          font-size: 16px;
          // font-weight: bold;
          font-weight: 700;
          text-transform: uppercase;

          &:hover{
            text-decoration: none;
            color: $link-color;
            -webkit-transition: all 0.3s ease-out;
          	-moz-transition: all 0.3s ease-out;
          	-o-transition: all 0.3s ease-out;
          	transition: all 0.3s ease-out;
          }
        }
      }
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
